@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --field-color: #e9e8e7b1;
    --grad-btn: linear-gradient(to right, #1a4646, #C6B27F, #1a4646);
    --primary: #2B6969;
    --secondary: #C6B27F;
}

main {
    z-index: 99999;
}

.main {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: grid;
    place-items: center;
    background-color: #FAF9F8;
}

.input__field p {
    font-size: 13px;
}

.input__field input,
textarea {
    background-color: var(--field-color);
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 12px;
    color: #6a7282
}

.grad__btn {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    background: var(--grad-btn);
    font-weight: bold;
    cursor: pointer;
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 0.5s ease;
    @apply flex items-center justify-center;
}

.grad__btn:hover {
    background-position: right;
}

.back__btn {
    @apply w-full text-red-600 cursor-pointer border rounded-3xl py-2;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.back__btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--grad-btn);
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: -1;
}

.back__btn:hover::after {
    transform: translateX(0);
}

.back__btn:hover {
    color: white;
}

.login_side__bg {
    background-image: url(login_couple.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    padding: 10px 20px;
    height: 385px;
}

.side__bg {
    background-image: url(login_couple.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 270px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgb(108, 107, 107);
}

.login_side__bg h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.login_side__bg p {
    color: rgb(196, 194, 194);
    font-size: 13px;
}


.reg__title {
    font-size: 20px;
    font-weight: bold;
}

select {
    background-color: var(--field-color);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    color: #3c3c3c
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in {
    animation: slideIn 0.4s ease;
}

.reg__circle__left {
    width: 150px;
    height: 150px;
    background: radial-gradient(red, red, rgb(87, 6, 6));
    filter: blur(72px);
    position: fixed;
    left: -20px;
    top: 100px;
    border-radius: 100%;
    animation: floatMove 6s ease-in-out infinite alternate;
}

.reg__circle__left::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background: radial-gradient(red, rgb(114, 86, 216), rgb(87, 6, 6));
    left: 120px;
    top: 50px;
}

@keyframes floatMove {
    0% {
        transform: translate(10px, -30px);
    }

    30% {
        transform: translate(-30px, 40px);
    }

    50% {
        transform: translate(40px, 60px);
    }

    70% {
        transform: translate(-10px, 80px);
    }

    100% {
        transform: translate(-20px, 90px);
    }
}

.reg__circle__right {
    width: 150px;
    height: 150px;
    background: radial-gradient(red, red, rgb(87, 6, 6));
    filter: blur(90px);
    position: fixed;
    right: 0px;
    bottom: 0px;
    border-radius: 100%;
}

.error__text {
    font-size: 11px;
    color: tomato;
    font-style: italic;
}

.reg__form {
    @apply w-full lg:w-[40%] flex flex-col gap-4 bg-white rounded-2xl shadow-2xl p-8 z-50 mb-3;
}


/* ==================================[Dashboard Start]============================ */
/* =============================================================================== */
.nav__link.active {
    position: relative;
    color: var(--primary);
    font-weight: 600;
}

.nav__link.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--primary);
}

.nav__link svg {
    color: var(--primary)
}

.dashboard__main {
    min-height: calc(100vh - 60px);
    @apply w-[90%] lg:w-[70%] mx-auto mt-5 mb-3
}

.dashboard__new__match {
    background: linear-gradient(to bottom, #C9B398, #3a3937);
    @apply px-10 py-12.5 w-full lg:w-[70%] rounded-[30px] min-h-87.5;
}

.dashboard__admin__choice {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @apply px-10 py-12.5 w-full lg:w-[30%] rounded-[30px] min-h-[380px]
}

.badge {
    padding: 5px;
    width: 100px;
    border-radius: 30px;
    color: black;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}

.gray-badge {
    background-color: #B1EEED;
}

.viewnow__btn {
    background: linear-gradient(to bottom, #2D6A6A, #1e4646);
}

.viewnow__btn:active {
    background: linear-gradient(to bottom, #2D6A6A, #2D6A6A, #1e4646);
}

.navigation {
    @apply w-full lg:w-[70%] grid grid-cols-2 lg:grid-cols-3 gap-4;
}

.navigation__menu {
    background: linear-gradient(to bottom, #4eb3b3, #183838);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    height: 150px;
    cursor: pointer;
}

.navigation__menu:hover {
    background: linear-gradient(to bottom, #437272, #1e4646);
}

.navigation__menu svg {
    font-size: 30px;
}

.main__photo {
    @apply w-full overflow-hidden;
    background-color: white;
    border: 3px dashed var(--field-color);
    height: 350px;
    padding: 10px;
    box-shadow: 0px 0px 5px var(--field-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.all__photo {
    @apply w-full grid grid-cols-2 gap-4 overflow-hidden;
    height: 350px;
}

.all__photo div {
    box-shadow: inset 0px 0px 5px var(--field-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    border: 2px dashed rgb(243, 242, 242);
    overflow: hidden;
}

.photo__num__badge {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #FDFDFC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
}

.pref__system {
    background-color: rgb(225, 225, 248);
    border-start-start-radius: 30px;
    border-start-end-radius: 30px;
    border-end-end-radius: 30px;
    padding: 10px;
    font-size: 13px;
    color: rgb(85, 83, 83, 03);
    max-width: 70%;
}

.pref__user {
    background-color: rgb(23, 23, 53);
    border-start-start-radius: 30px;
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
    padding: 15px 20px;
    font-size: 13px;
    color: white;
    max-width: 70%;
}

.pref__next {
    background-color: white;
    border-radius: 30px;
    width: 80px;
    padding: 5px;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    float: right;
}

.pref__next:hover {
    background-color: rgb(228, 223, 223);
}

.res__error {
    @apply w-full p-2 rounded bg-red-400 border border-red-500 text-sm text-white mb-3 flex justify-between items-center;
}

.res__error span {
    font-size: 13px;
}

.loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    border-top-color: rgb(105, 103, 103);
    animation: loader 0.7s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logout__btn {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.logout__btn:hover {
    background-color: #3a8f8f;
}

.profile__field__card {
    width: 100%;
    padding: 2px 10px;
    color: rgb(39, 39, 39);
    border-radius: 5px;
    @apply hover:bg-gray-100;
    background-color: white;
    box-shadow: 0px 0px 5px lightgray;
}

.profile__field__card .title {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile__field__card .sub__title {
    font-size: 12px;
}

.psycho__q {
    font-size: 25px;
    color: var(--primary);
    font-weight: 500;
}

.psycho__ans {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(151, 211, 235);
    text-align: left;
    cursor: pointer;
    font-size: small;
    @apply hover:bg-blue-200 flex justify-between items-center;
}

.psycho__ans.active {
    background-color: var(--secondary);
    color: white;
}

.shimmer {
    background: linear-gradient(90deg,
            #e5e7eb 25%,
            #f3f4f6 37%,
            #e5e7eb 63%);
    background-size: 800px 100%;
    animation: shimmer 1.4s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}